
body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
main {
  font-size: 0;
}

.main-container {
   margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height:500px;
}

.container {
   text-align: center;
}


.inner{
 border: 1px solid black;
  display: inline-block;
}
.inner1{
 width: 50%;
  height: 200px;
}
.inner2{
 width: 33.33%;
  height: 300px;
}
.green{
  background-color: green;
}
.grey{
  background-color: grey; 
}
.blue{
  background-color: blue;
}
.orange{
  background-color: orange;
}
.black{
  background-color: black;
}
